
/* ******************* HTML Tags *********************** */
body {
    background-color: black;
}
button {
    background-color: #1d0c20;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #651f71;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ********************* Containers ********************** */
.container {
    background-color:#ffebcd;
    padding: 40px;
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* ******************** Traffic Light ********************** */
.traffic-light-principal {
    background-color: #000000;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.traffic-light-panel {
    background-color: #808080;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.circle {
    margin: auto;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border-color: black;
    border-width: medium;
    border-style: solid;
}

.circle-green {
    background-color: #07f607;
}

.circle-yellow {
    background-color: #ffff00;
}

.circle-red {
    background-color: #ff0000;
}

.circle-off {
    background-color: rgb(63, 62, 62);
}



